
<p id="notice"><%= notice %></p>
<span class="container-fluid">
  <span class="row">
    <h1 class="col-xs-12 text-center">Democrastory</h1>
  </span>
  
  <span class="row">
    <span class="col-xs-3"></span><!--Spacer-->
    <span class="col-xs-6">

    <!--Main content-->

      <span class="row">
        <h2 class="col-xs-12 text-center">Submit a new top level story</h2>
      </span>
      <%= render 'rootStoryForm', story: @story %>
      <span class="row">
        <span id="stories-container" class="col-xs-12">
          <span class="row">
            <% @stories.each do |story| %>
              <div class="row story-container">
                <span class="story-content col-xs-12"><%= link_to story.content, story %></span>
                <span class="col-xs-6">Created by <%= story.user_id %></span>
                <span class="col-xs-6 text-right">
                  <%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %>
                </span>
              </div>
            <% end %>
          </span>
        </span>
      </span>

    <!--End main content-->

    </span>
    <span class="col-xs-3"></span><!--Spacer-->
  </span>
</span>
