<p id="notice"><%= notice %></p>

<h1>Democrastory</h1>

<h2>Submit a new top level story</h2>
<%= render 'rootStoryForm', story: @story %>

<table>
  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= link_to story.content, story %></td>
        <td><%= story.user_id %></td>
        <td>+<%= story.upvotes %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
