<p id="notice"><%= notice %></p>

<% @storyChain.each do |story| %>
  
  <p>
    <%= link_to story.content, story %>
  </p>

  <p>
    <%= story.user_id %>
  </p>

  <p>
    +<%= story.upvotes %>
  </p>
  <hr/>
<% end %>
<br/>
<%= render 'childStoryForm', child_story: @new_child_story %>

<%= link_to 'Back', root_path %>
