
<div class="row">
	<div class="col-xs-3">
	</div>

	<!-- Content start -->
	<div class="col-xs-6">
		<div class="row">
			<h1 class="col-xs-12 text-center"><%= @stories[0].title %></h1>
			<div class="stories-container">
				<% @stories.each do |story|%>
					<div class="col-xs-12 story-container">
						<div class="story-content col-xs-12 
									<%= story.id === params[:id].to_i ? 'current-story' : '' %>">
							<%= link_to story.content, story%>
						</div>
						<div class="story-author col-xs-6">
							<%= link_to story.user.name, story.user%>
						</div>
						<div class="story-date col-xs-6"><%=story.created_at%></div>
					</div>
				<%end%>
			</div>
		</div>
		<div class="row">
			<h3 class="col-xs-12 text-center">Continue this story</h3>
			<%= form_for(@newStory) do |f| %>
			
				<%= f.label :content %>
				<%= f.text_area :content, class: 'form-control' %>

				<%= f.hidden_field :parent_id  %>
				<br/>
				<%= f.submit "Submit continuation", class: "btn btn-primary" %>
			<% end %>
		</div>
		<div class="row">
			<h3 class="col-xs-12 text-center">Current continuations</h3>
			<div class="stories-container">
				<% @unpublishedChildren.each do |story| %>
					<!-- vote form -->
					<div class="col-xs-3">
						<!-- unvote form -->
						<% if current_user.hasVotedOn?(story) %>
							<!-- vote on form -->
							<%= form_for @vote, method: :delete do |f| %>
								<%= f.hidden_field :story_id, :value => story.id %>
								<%= f.submit "Undo vote", class: "btn btn-danger" %>
							<% end %>
						<% else %>
							<!-- vote on form -->
							<%= form_for @vote do |f| %>
								<%= f.hidden_field :story_id, :value => story.id %>
								<%= f.submit "Vote", class: "btn btn-success" %>
							<% end %>
						<% end %>
					</div>
					<!-- end vote form -->
					<!-- vote count -->
					<div class="col-xs-1">
						<span class="vote-count">
							+<%= Vote.where(story: story).count %>
						</span>
					</div>
					<!-- end vote count -->
					<div class="story-container col-xs-8">
						<div class="story-content col-xs-12">
							<%= story.content %>
						</div>
						<div class="story-author col-xs-6">
							<%= link_to story.user.name, story.user%>
						</div>
						<div class="story-date col-xs-6"><%=story.created_at%></div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<!-- Content end -->

	<div class="col-xs-3">
	</div>
</div>